<div class="container">

  <section class="header">
    <img class="logo" src="assets/logo.png">
    <img class="slogan" src="assets/slogan.png">
  </section>

  <div class="body">
    <div class="custom-card">
      <div class="custom-card-content text-center">
        <div class="circle-check-icon">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div class="c-msg">Congratulation! Rohit Kumar</div>
        <div class="c-desc">Your empanelment process is completed, & now you are one more step closer to start investment journey with us</div>
        <button class="c-btn">Register Now</button>
      </div>
    </div>
  </div>


</div>
