:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 750px;
  background: linear-gradient(128.55deg, #183F9A 17.22%, #002C72 88.85%);
  //border: solid 3px yellow; /* for debugging purposes */
}

.container {
  font-family: 'DM Sans';
}

.header {
  margin-top: 55px;

  .logo {
    width: 62px;
    height: 44px;
    margin-right: 16px;
  }

  .slogan {
    width: 95px;
    height: 22px;
  }
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;

  .custom-card {
    width: 900px;
    height: 590px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 12px 24px rgba(0, 64, 160, 0.05);
    backdrop-filter: blur(40px);
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    .custom-card-content {

      i {
        font-size: 60px;
        color: #e6e6e6;
      }

      .c-msg {
        margin-top: 50px;
        font-weight: 700;
        font-size: 31.25px;
        line-height: 41px;
        color: #001847;
      }

      .c-desc {
        width: 520px;
        margin-top: 16px;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: rgba(0, 24, 71, 0.68);
      }

      .c-btn {
        margin-top: 32px;
        width: 177px;
        padding: 10px 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        background: #0040A0;
        border-radius: 4px;
        border-color: transparent;
      }
    }
  }

}
