<div class="container">

  <section class="header">
    <img class="logo" src="assets/logo.png">
    <img class="slogan" src="assets/slogan.png">
  </section>

  <div class="body">

    <div class="title-section">
      <div class="text-1">Welcome to TATA MF!</div>
      <div class="text-2">Let's set up your account</div>
    </div>


    <div class="custom-card">

      <div class="side-bar">

        <div class="list">
          <div class="item undone"><i class="fa-solid fa-circle-check"></i> PERSONAL INFORMATION</div>
          <div class="item done"><i class="fa-solid fa-circle-check"></i> BANK ACCOUNT</div>
          <div class="item done"><i class="fa-solid fa-circle-check"></i> NOMINEE</div>
          <div class="item done"><i class="fa-solid fa-circle-check"></i> REVIEW</div>
        </div>

      </div>

      <div class="content-area">

        <div class="verify-personal-info">Verify your personal information</div>

        <div class="info-wrapper">
          <div class="label">Name</div>
          <div class="value">Rohit Kumar</div>
        </div>

        <div class="separator"></div>

        <div class="info-wrapper">
          <div class="label">ARN</div>
          <div class="value">ARN-26845</div>
        </div>

        <div class="separator"></div>

        <div class="info-wrapper">
          <div class="label">PAN</div>
          <div class="value">GRDTR4562T</div>
        </div>

        <div class="separator"></div>

        <div class="info-wrapper">
          <div class="label">DATE OF BIRTH</div>
          <div class="value">20 May 1975</div>
        </div>

        <div class="separator"></div>

        <div class="info-wrapper">
          <div class="label">MOBILE</div>
          <div class="value">+91 9876543210</div>
        </div>

        <div class="separator"></div>

        <div class="info-wrapper">
          <div class="label">EMAIL</div>
          <div class="value">rohitkumar@gmail.com</div>
        </div>

        <div class="separator"></div>

        <div class="info-wrapper">
          <div class="label">ADDRESS</div>
          <div class="value address-value">501, Oberoi Springs, New link road, Andheri (West) Mumbai, Maharastra</div>
        </div>


        <div class="horizontal-line"></div>

        <div class="btn">
          <button class="btn-next">Next</button>
        </div>

      </div>

    </div>
  </div>
</div>
