<div class="container">

    <section class="header">
      <img class="logo" src="assets/logo.png">
      <img class="slogan" src="assets/slogan.png">
    </section>

    <section class="body d-flex justify-content-between">

      <div class="content-wrapper">
        <div class="content-wrapper-heading">Ab market ke utar chadhav ka darr kaisa?</div>
        <div class="content-wrapper-info">Invest is Tata Balanced Advantage Fund that can keep you smiling through
          market ups and downs
        </div>

        <button class="btn-know-more">Know More</button>
      </div>

      <div class="custom-card">

        <div class="custom-card-title">Online Empanelment</div>
        <div class="custom-card-info">Enter your KYD registered details</div>

        <div class="input-wrapper">
          <input type="text" class="input" placeholder="ARN Number">
          <label for="" class="label">ARN Number</label>
        </div>

        <div class="input-wrapper">
          <input type="text" class="input" placeholder="PAN">
          <label for="" class="label">PAN</label>
        </div>

        <div class="checkbox-wrapper">
          <input type="checkbox">
          <div class="checkbox-text">I hereby accept Terms & Conditions and confirm to comply with all the applicable
            laws
          </div>
        </div>

        <button class="btn-continue">Continue</button>

        <div class="text-center help-btn">
          <a><i class="fa-regular fa-circle-question"></i> Need help?</a>
        </div>

      </div>

    </section>

  </div>




