<div class="container">

  <section class="header">
    <img class="logo" src="assets/logo.png">
    <img class="slogan" src="assets/slogan.png">
  </section>

  <div class="body">

    <div class="title-section">
      <div class="text-1">Welcome to TATA MF!</div>
      <div class="text-2">Let's set up your account</div>
    </div>


    <div class="custom-card">

      <div class="side-bar">

        <div class="list">
          <div class="item done"><i class="fa-solid fa-circle-check"></i> PERSONAL INFORMATION</div>
          <div class="item undone"><i class="fa-solid fa-circle-check"></i> BANK ACCOUNT</div>
          <div class="item done"><i class="fa-solid fa-circle-check"></i> NOMINEE</div>
          <div class="item done"><i class="fa-solid fa-circle-check"></i> REVIEW</div>
        </div>

      </div>

      <div class="content-area">

        <div class="kyd-bank-account-text">Select your KYD registered bank account</div>

        <div class="user-bank-details">
          <div class="label">BANK ACCOUNT</div>
          <div class="bank-details">
            <img src="assets/bank_logo.png">
            <div class="bank-details-text">
              <div class="value">HDFC Bank - 4732</div>
              <div class="ifsc">IFSC: HDFC0987654 | Lower Parel</div>
            </div>
          </div>
        </div>

        <div class="add-another-bank-acc">+ Add Another Bank Account</div>

        <div class="horizontal-line"></div>

        <div class="btns">
          <button class="btn-back">Back</button>
          <button class="btn-next">Next</button>
        </div>

      </div>

    </div>

  </div>

</div>
